<html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<body>

<button type="button" onclick="JSONTest()">JSON</button>
<form>
    <button type="submit" formaction="http://localhost:4567/home">Click me</button>
</form>

<script>

    JSONTest = function() {

    var myData = {
        "id": "1012",
        "email": "your-email@your-domain.com",
        "firstName": "Mac",
        "lastName": "Mason1"
    };

    // var me = JSON.stringify(myData)
    // window.alert(me);

    $.ajax({
        url: "http://localhost:4567/users",
        type: "POST",
        dataType: "json",  // expecting this type back
        contentType: 'application/json',
        data: JSON.stringify(myData),
    success: function (result) {
        var myJSON = JSON.stringify(result);
        window.alert(myJSON);
        document.getElementById("demo").innerHTML = myJSON;
    },
    error: function (xhr, ajaxOptions, thrownError) {
    alert(xhr.status);
    alert(thrownError);
    }
    });
    };

</script>

<h1>My jQuery JSON Web Page</h1>
<p id="demo"></p>
<ul>
    #foreach( $index in $message )
        <li>$index</li>
    #end
</ul>

</body>
</html>