<html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<body>

<script>

    JSONTestJson = function() {

        var myData = new Object();
        myData.id = "1012";
        myData.email = "your-email@your-domain.com";
        myData.firstName = Mac;
        myData.lastName = "Mason1";


        // var me = JSON.stringify(myData)
        // window.alert(me);

        $.ajax({
            url: "http://localhost:4567/jsonMultiString",
            type: "GET",
            dataType: "json",  // sending this type back
            data: JSON.stringify(myData),
            success: function (result) {
                var myJSON = result;
                window.alert(myJSON);
                document.getElementById("demo").innerHTML = myJSON;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    };

</script>









<script>

    $(document).ready(function(){
        $("#JSONTestUserJquery").click(function(){
           var id_post = $("#JSONTestUserJquery").attr("value")
            window.alert(id_post);

            var myData = new Object();
            myData.id = "3000";
            myData.email = "your-email@your-domain.com";
            myData.firstName = id_post;
            myData.lastName = "Mason1";

            // var me = JSON.stringify(myData)
            // window.alert(me);
            $.ajax({
                url: "http://localhost:4567/user",
                type: "POST",
                dataType: "json",  // expecting this type back
                contentType: 'application/json',
                data: JSON.stringify(myData),
                success: function (result) {
                    var myJSON = JSON.stringify(result);
                    window.alert(myJSON);
                    document.getElementById("demo").innerHTML = myJSON;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });
    });
</Script>



<script>

    JSONTestUser = function() {
        window.alert("here");
        var id_post = document.getElementById("id").value;
        var name_post = document.getElementById("name").value;
        var last_post =  document.getElementById("last").value;
        var email_post = document.getElementById("email").value;

        window.alert(id_post + name_post + last_post + email_post);

        var myData = new Object();
        myData.id = id_post;
        myData.email = email_post;
        myData.firstName = name_post;
        myData.lastName = last_post;

        var convert = JSON.stringify(myData);
        window.alert(convert);

        var test = "{ \"name\":\"John\", \"age\":30, \"car\":null }";
        var test2 = "{ \"name\":\"John\", \"age\":" + id_post + ", \"car\":null }";
        window.alert(test);
        window.alert(test2);

        $.ajax({
        url: "http://localhost:4567/user",
        type: "POST",
        dataType: "json",  // expecting this type back
        contentType: 'application/json',
        data: JSON.stringify(myData),
         success: function (result) {
        var myJSON = JSON.stringify(result);
        window.alert(myJSON);
        document.getElementById("demo").innerHTML = myJSON;
    },
    error: function (xhr, ajaxOptions, thrownError) {
    alert(xhr.status);
    alert(thrownError);
    }
    });
    };

</script>

<script>

    JSONTestGetData = function() {


        $.ajax({
            url: "http://localhost:4567/get",
            type: "POST",
            success: function (result) {
                window.alert(result);
                $("div#content").replaceWith(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    };

</script>


<script>

    JSONTestSortData = function() {

        $.ajax({
            url: "http://localhost:4567/sort",
            type: "POST",
            success: function (result) {
                window.alert(result);
                $("div#content").replaceWith(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    };

</script>

<script>

    JSONTestSearchData = function() {

        $.ajax({
            url: "http://localhost:4567/search",
            type: "POST",
            success: function (result) {
                window.alert(result);
                $("div#content").replaceWith(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    };

</script>

<div id="header">
    ...some content that's to be updated Header...

    #include("template\header.vm")

</div>


<p id="demo"></p>


<div id="content"></div>


<div id="footer">
    ...some content that's to be updated Footer...

    #include("template\footer.vm")


</body>
</html>