<html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<body>

<script>

    JSONTestJson = function() {

        var myData = {
            "id": "1012",
            "email": "your-email@your-domain.com",
            "firstName": "Mac",
            "lastName": "Mason1"
        };

        // var me = JSON.stringify(myData)
        // window.alert(me);

        $.ajax({
            url: "http://localhost:4567/jsonMultiString",
            type: "GET",
            dataType: "json",  // sending this type back
            data: JSON.stringify(myData),
            success: function (result) {
                var myJSON = result;
                window.alert(myJSON);
                document.getElementById("demo").innerHTML = myJSON;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    };

</script>









<script>

    $(document).ready(function(){
        $("#JSONTestUserJquery").click(function(){
           var id_post = $("#JSONTestUserJquery").attr("value")
            window.alert(id_post);

            var myData = {
                "id": "3000",
                "email": "your-email@your-domain.com",
                "firstName": id_post,
                "lastName": "Mason1"
            };

            // var me = JSON.stringify(myData)
            // window.alert(me);
            $.ajax({
                url: "http://localhost:4567/user",
                type: "POST",
                dataType: "json",  // expecting this type back
                contentType: 'application/json',
                data: JSON.stringify(myData),
                success: function (result) {
                    var myJSON = JSON.stringify(result);
                    window.alert(myJSON);
                    document.getElementById("demo").innerHTML = myJSON;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });
    });
</Script>



<script>

    JSONTestUser = function() {

        var id_post = document.getElementById("name").value;
        window.alert("JSONTestUserJavaSCript");

        var myData = {
            "id": "1012",
            "email": "your-email@your-domain.com",
            "firstName": id_post,
            "lastName": "Mason1"
        };

    // var me = JSON.stringify(myData)
    // window.alert(me);

    $.ajax({
        url: "http://localhost:4567/user",
        type: "POST",
        dataType: "json",  // expecting this type back
        contentType: 'application/json',
        data: JSON.stringify(myData),
         success: function (result) {
        var myJSON = JSON.stringify(result);
        window.alert(myJSON);
        document.getElementById("demo").innerHTML = myJSON;
    },
    error: function (xhr, ajaxOptions, thrownError) {
    alert(xhr.status);
    alert(thrownError);
    }
    });
    };

</script>

<script>

    JSONTestGetData = function() {


        $.ajax({
            url: "http://localhost:4567/get",
            type: "POST",
            success: function (result) {
                window.alert(result);
                $("div#content").replaceWith(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    };

</script>


<script>

    JSONTestSortData = function() {

        $.ajax({
            url: "http://localhost:4567/sort",
            type: "POST",
            success: function (result) {
                window.alert(result);
                $("div#content").replaceWith(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    };

</script>

<script>

    JSONTestSearchData = function() {

        $.ajax({
            url: "http://localhost:4567/search",
            type: "POST",
            success: function (result) {
                window.alert(result);
                $("div#content").replaceWith(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    };

</script>

<div id="header">
    ...some content that's to be updated Header...

    #include("template\header.vm")

</div>


<p id="demo"></p>


<div id="content"></div>


<div id="footer">
    ...some content that's to be updated Footer...

    #include("template\footer.vm")


</body>
</html>